body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f8f8f8, #aaaaaa);
  color: #0a0a0a;
}

header {
  height: auto;
  background: linear-gradient(135deg, #f8f8f8, #aaaaaa);
  color: white;
  padding: 10px;
  text-align: center;
}

header img {
  height: auto;
  width: 100%;
}

h1 {
  font-size: 40px;
  margin: 20px 0;
  text-transform: uppercase;
  -webkit-text-stroke: 0.3px rgb(253, 253, 253);
  letter-spacing: 2px;
  text-align: center;
}

p {
  margin: 0;
  margin-bottom: 2px;
  text-align: center;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  background-color: #0056b3;
}

ul {
  font-size: 14px;
  text-align: center;
}

h3 {
  text-align: center;
}
ul,
ol {
  list-style-type: none;
}
