body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #388af5, #fcd88a);
  color: #050505;
}

header {
  height: auto;
  color: white;
  text-align: center;
}

header img {
  height: auto;
  width: 100%;
}

h1 {
  font-size: 40px;
  margin: 0px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

h3{
  text-align: center;
}

p {
  margin: 0;
  margin-bottom: 1px;
  text-align: center;
  font-size: 15px;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  padding: 10px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  background-color: #0056b3;
}

ul,
ol {
  list-style-type: none;
}

.home-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.home-button:hover {
  background-color: #0056b3;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  background-color: #333;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0056b3;
  min-width: 100px;
  z-index: 1;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-content a {
  display: block;
  padding: 5px 10px;
  color: white;
  background-color: #0056b3;
  text-decoration: none;
  margin-bottom: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #494949;
}

.dropdown-content a:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dropdown-content a:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content a.nav-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 5px;
}

.dropdown-content a.nav-button:hover {
  background-color: #0056b3;
}

a {
  background-color: #0056b3;
  padding: 10px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

